<section
    class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative" data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">
                Model X
            </h2>

            <p class="text-black text-sm">
                Starting at $40,240
                <br>
                After Federal Tax Credit
            </p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="flex flex-row gap-4 justify-center">
                <a
                    href=""
                    class="rounded font-medium text-gray-600 text-sm bg-white backdrop-blur-sm px-12 py-2 inline-block transition-colors"
                    >Explorar inventario</a
                >

                <a
                    href=""
                    class="rounded font-medium text-white text-sm bg-gray-600 backdrop-blur-sm px-12 py-2 inline-block transition-colors"
                    >Pedido personalizado</a
                >
            </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img
            class="object-center object-cover h-full w-full"
            src="/ModelX.avif"></img>
    </div>
</section>
